@import '_variables.css';
@import '_syntax.css';

* {
  margin: 0;
  padding: 0;
}

:root {
  --page-color: #1f2225;
  --text-color: #fff;
  --text-color-secondary: #868b8d;
  --accent-color: #d90429;
  --dark-color: #000;
  --border-color: #000;
}

::-moz-selection {
  background-color: var(--text-color);
  color: $page-color;
}
::selection {
  background-color: var(--text-color);
  color: $page-color;
}

@font-face {
  font-family: 'Apercu Mono';
  font-style: normal;
  font-display: swap;
  src: url('fonts/apercu-mono.woff') format('woff');
}

html {
  background-color: var(--page-color);
}

body {
  display: flex;
  text-align: center;
  background-color: var(--page-color);
  color: var(--text-color);
  font-family: 'Apercu Mono', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.4;
  min-height: 100vh;
  background: var(--page-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @media (min-width: $mid) {
    width: 600px;
  };
  @media (min-width: $wide) {
    width: 700px;
  };
}


h1, h2, h3 {
  color: $text-color;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom:0.2em;
  line-height: 1;
}
h1 {
  font-size: 3em;
  margin-top:0.4em;
  margin-bottom:0.2em;
  line-height: 1;

  @media (min-width: $mid) {
    font-size: 5em;
  };
  @media (min-width: $wide) {
    font-size: 6em;
  };
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 5em;
  color: var(--text-color-secondary)
}

ul, ol {
  padding-left: 1em;
  font-size: 0.8rem;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom-color: $text-color;
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style:none;
}

.nav {
  padding-top: 3em;
  height: 20vh;

  li {
    display: inline;
  }

  a:link,
  a:visited {
    display: inline-block;
    /* border-top-style: solid;
    border-top-width: 1px;
    border-top-color: mix($text-color, $accent-color, 40%); */
    border-bottom-style: none;
    padding-top: 0.8em;
    /* padding-bottom: 2em; */
    margin-left: 0;
    margin-right: 0.7em;
    text-align: left;
    color: mix($text-color, $accent-color, 80%);
    text-decoration: none;
  }
  a:hover,
  a:focus {
      color: $text-color;
      border-top-color: $text-color;
      border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7em;
    color: mix($text-color,$accent-color, 60%);
  }
}


code {
  font-size: 0.8em;
  background-color: mix($text-color,$accent-color, 80%);
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


footer {
  margin-top: 6em;
  padding-top: 4em;
  padding-bottom: 6em;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: mix($text-color, $accent-color, 10%);
  font-size: 0.7em;
  color: mix($text-color, $accent-color, 50%);

  a:link,
  a:visited {
    color: mix($text-color, $accent-color, 90%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-bottom: solid 1px $text-color;
  }
}

.grey {
  color: var(--text-color-secondary);
}

.listing-content {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.8vw;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: mix($text-color, $accent-color, 10%);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: mix($text-color, $accent-color, 10%);
}

.listing-info {
  flex-basis: 50%;
  max-width: 50%;
  padding-right: 0.6vw;
}

.listing-resources {
  flex-basis: 45%;
  max-width: 45%;
  border-radius: 0.4rem;
  padding-left: 0.6vw;
}

.listing-name {
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.listing-description {
  color: var(--text-color-secondary);
  letter-spacing: -0.03em;
  font-size: 0.8rem;
}

.listing-image {
  margin-top: 1em;
  margin-bottom: 1em;
}

.button {
  align-items: center;
  background-color: transparent;
  width:40%;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 30px;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  user-select: none;
  transition: .25s ease;
}

.listing-resource-item {
  display: inline-flex;
}

.resource-name {
  font-size: 0.8rem;
  padding-left: 0.8rem;
}